html, body {
    height: 100%;
    background-color: black;
    scroll-behavior: smooth;
    overflow: hidden;
}


.main_welc_backimage {
    position: relative;
    background-image: url(/media/backgournd_images/img1_keyboard.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.maintext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: larger;
  }

.type_text_css {
    color: rgb(165, 161, 153);
}

.more_info_bnt_class {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent;
    border: solid;
    border-radius: 3px;
    font-size: larger;
    border-color: black;
    color: black;
    transition: 0.7s;
}

.more_info_bnt_class:hover {
    transition: 0.7s;
    background-color: black;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 13px;
    padding-left: 17px;
    padding-right: 17px;

}

.more_info_bnt_class::after {
    content: ' ➟';
}